html {
  scroll-behavior: smooth;
}
/*tfasil home--------------------------------------------------------------------------------*/
.Home-body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fdfdfd;
    color: #131211;
    /*hna tkhlas--------------------------------------------------------------------------------------*/
}
header {
    background-color: #d6d7dab2;
    padding: 20px;
    text-align:center;
    box-shadow: 0 2px 5px rgba(12, 8, 37, 0.1);
    
}
header nav a {
  margin: 0 15px;
  color: #2b2a2e;
  text-decoration: none;
  font-weight: bold;
}
footer {
  background-color:#d6d7dab2;
  text-align: center;
  padding: 15px;
  font-size:20px;
  margin-top: 40px;
  color: #2b2a2e;
  font-family: 'DancingScript';}
/*ta3 acceuil-----------------------------------------------------------------------------------------*/
nav a {
    margin: 0 30px;
    text-decoration: none;
    color:#4c4b50;
    font-weight: bold;
    font-family: 'PlayfairDisplay',cursive;

}/*hna tkhlas-------------------------------------------------------------------------------------------*/
/*bannnnnnnnnnnnner-----------------------------------------------------------------------------------------------*/
.banner {
    background-image: url('image/section1.jfif');
    background-size:1100px; 
    background-position: center;
    background-repeat:repeat-x;
    height:650px;
    align-items: center;
    justify-content: center;
    color: rgb(2, 6, 39);
    text-shadow: 1px 1px 2px #00000080;
    padding: 40px;
  }
  .banner h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom:0.1px;
    font-family: 'PlayfairDisplay',cursive;
margin-top: 20px;
}
.banner p {
    font-size:30px;
    text-align: center;
    font-family: 'DancingScript';
   
}
/* tartib icon fi banner*/
.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top:350px;
}

/* 7ajm icon*/
.social-icons .icon img {
  width: 28px;
  height: 28px;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.social-icons .icon img:hover {
  transform: scale(1.2);
}
/*aboutme--------------------------------------------------------------------------------------------------------------*/

.Me {
    background-color: #fafafa;
    padding: 40px;
    text-align: center;
    animation: fadeIn 2s ease-in;
  }
  .Me h1{
    font-size:50px;
    margin-bottom:30px;
    text-align: left;
    color: #141a4e;
    font-family: 'DancingScript';
  }
  .Me p{
    font-size: 20px;
    margin-bottom: 20px;
    text-align:left;
    color: rgb(1, 3, 8);
    font-family: 'JosefinSans';

  }
 
    /*hna ykhlas---------------------------------------------------------------------------------------*/
 /*win nbi3------------------------------------------------------------------------------*/
/*body ta3 section 2*/
 .assortment {
  padding: 20px;
  background-image: url('image/3.jfif');
  background-size: cover;
  
}

/* h2 ta3 section 2*/
.assortment h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
  color: #070642;
  font-family: 'DancingScript';
}

/* 3anawin flavors*/
.flavor {
  font-size: 26px;
  margin-top: 30px;
  color: #07084d;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  font-family: 'PlayfairDisplay',cursive;
}

/* table of product*/
.product {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  border-collapse: collapse;
  font-family: 'JosefinSans';
  color: #020141;
}

.product td {
  padding: 10px;
  vertical-align: top;
  text-align: center;
}

/* hover*/
.image-wrapper {
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  margin: auto;
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease, transform 0.4s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.image-wrapper .hover {
  opacity: 0;
}

.image-wrapper:hover .default {
  opacity: 0;
  transform: scale(1.05);
}

.image-wrapper:hover .hover {
  opacity: 1;
  transform: scale(1.05);
}

/* order btn*/
.order-btn-wrapper {
  text-align: center;
  margin: 20px 0 40px;
}

.order-button {
  background-color: #030414;
  color: white;
  padding: 12px 30px;
  font-size: 18px;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.order-button:hover {
  background-color: #03182b;
}
/*hna ykhlas----------------------------------------------------------------------------------------------------------------------*/

/*hna ykhlas-------------------------------------------------------------------------------------------------*/
  
   
}
